.inputs{
    width: 100%;
        height: 36px;
        border-radius: 4px;
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        border: 1px solid rgb(137, 151, 155);
        transition: border-color 150ms ease-in-out 0s;
        outline: none;
        color: rgb(33, 49, 60);
        background-color: rgb(255, 255, 255);
        padding-right: 12px;
}
.card-grid-form{
    gap:0;
}

.button-29{
        display: inline-block;
        outline: none;
        border-width: 0px;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: inherit;
        font-weight: 500;
        max-width: 100%;
        text-align: center;
        text-decoration: none;
        transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
        background: rgb(0, 82, 204);
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        padding: 0px 12px;
        vertical-align: middle;
        width: 25em;
        font-size: 14px;
        color: rgb(255, 255, 255);

    }
.button-29:hover {
        background: rgb(0, 101, 255);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        color: rgb(255, 255, 255);
    }

.edit-button{
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 15px;
        background-color: #1e9656;
        border: 1px solid #1e9656;
        color: #fff;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        text-align: center;
}
.edit-button:hover {
        background-color: #146c2a;  
        border-color: #146c2a;
} 

.delete-button{
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 0 16px;
        background-color: #db2c2c;
        border: 1px solid #e43333;
        color: #fff;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
        text-align: center;
}
.delete-button:hover {
        background-color: #b32b2b;  
        border-color: #b32b2b;
} 
#sidePopup {
        font-size: 18px;
        position: fixed;
        bottom: 20px;
        right: -300px;
        background: #333;
        color: #fff;
        padding: 14px 22px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        z-index: 9999;
        transition: right 0.5s ease;
}

#sidePopup.show {
        right: 20px;
}
