  body{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .loginContainer {
    max-width: 18% !important; /* more practical width */
    min-width: 5%;
    margin: 5em auto;
    margin-bottom: 23em;
    margin-top: 9em;
box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
  }
  .btn{
    background-color: #efbc04;
    font-weight: 600;
  }


/* CSS */
/* .button-29 {
    width: 100%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #FFB22C 0, #F3C623 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #221b1bd4;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    font-weight: 500;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
} */


    .button-29{
        display: inline-block;
        outline: none;
        border-width: 0px;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: inherit;
        font-weight: 500;
        max-width: 100%;
        text-align: center;
        text-decoration: none;
        transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
        background: rgb(0, 82, 204);
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        padding: 0px 12px;
        vertical-align: middle;
        width: 25em;
        font-size: 14px;
        color: rgb(255, 255, 255);

    }
    .button-29:hover {
        background: rgb(0, 101, 255);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        color: rgb(255, 255, 255);
    }
                