.sidebar{
    background-color: #ffffff;
    height: 90vh;
    padding: 15px;
    color: black;
    
}
.nav{
    color: black;
    
}
ul li {
    list-style: none;
    padding: 10px;
    margin-left: -2em;
   
    
}
a{
    text-decoration: none;
    /* color: black; */
    font-weight: 700;
    color: rgb(45, 44, 44);
}
a:hover{
     color: rgb(255, 255, 255);
     text-decoration: none;
     /* background-color: #FFB22C; */
}
ul li:hover{
    /* background-color: #F3C623; */
    color: white;
    cursor: pointer;
}
